@import '../variables/variables.scss';
.container {
    background-color: red;
    color: $verdeescuro;
    &:hover {
        background-color: gray;
        color: black;
    }
}

body {
    background-color: $verdeescuro;
}